[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
pymysql = "*"
flask-script = "*"
mysql-connector-python = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.10"
