[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
mysql-connector-python = "*"
google-cloud-secret-manager = "*"
sentry-sdk = "*"
blinker = "*"
flask-restx = "*"
flask-cors = "*"
flask-jwt-extended = "*"

[dev-packages]
alembic = "*"
pytest = "*"
pytest-cov = "*"
responses = "*"
pytest-mockito = "*"
pytest-mock = "*"

[requires]
python_version = "3.10"
