[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
mysql-connector-python = "*"
google-cloud-secret-manager = "*"

[dev-packages]
alembic = "*"

[requires]
python_version = "3.10"
