# CircleCI version
version: 2.1

orbs:
  gcp-cli: circleci/gcp-cli@2.2.0
  slack: circleci/slack@4.5.1

jobs:
  build:
    docker:
      - image: cimg/python:3.10.3
        environment:
          FLASK_CONFIG: testing
          TEST_DATABASE_URL: postgresql://ubuntu@localhost/circle_test?sslmode=disable
      - image: circleci/mysql:8.0
        environment:
          POSTGRES_USER: ubuntu
          POSTGRES_DB: circle_test
          POSTGRES_PASSWORD: ''
    steps:
      - checkout
      - restore_cache:
          key: deps2-{{ checksum "Pipfile.lock" }}
          paths:
            - '/home/circleci/.pyenv/versions'
      - run:
          command: |
            pipenv install
      - run:
          command: |
            pip freeze > requirements.txt
      - save_cache:
          key: deps2-{{ checksum "Pipfile.lock" }}
          paths:
            - '/home/circleci/.pyenv/versions'
      - run:
          command: |
            echo "TODO: test"

  deploy:
    docker:
      - image: google/cloud-sdk:slim
    steps:
      - checkout
      - run: echo ${GOOGLE_SERVICE_ACCOUNT_KEY} | gcloud auth activate-service-account --key-file=-
      - run: echo ${GOOGLE_SERVICE_ACCOUNT_KEY}
      - attach_workspace:
          at: .
      - restore_cache:
          key: deps2-{{ checksum "Pipfile.lock" }}
          paths:
            - '/home/circleci/.pyenv/versions'
      - run:
          name: Check files to deploy
          command: ls -al
      - run:
          name: Google Cloud Deploy
          command: gcloud app deploy --project ${GOOGLE_PROJECT_NAME}


workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: main